.year{
    margin: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(200, 252, 118);
    text-align: center;
    border-radius: 5px;
}
.selected{
    background-color: rgb(99, 168, 66);
}