<mat-progress-bar *ngIf="IsLoading" mode="indeterminate"></mat-progress-bar>
<div class="container-fluid">
  
  <h3 style="margin-bottom: 5px;">SpaceX Launch Programs</h3>

  <div class="row">

    <div id="filtercolumn" class="col-sm-3 col-md-3 col-lg-2">
      <div class="card mx-auto" style="width: 10rem;">

        <div class="card-header">
          Filters
        </div>

        <div class="card-body">

          <div>
            <span>Launch Year</span>
            <hr style="margin-top: 0px;margin-bottom: 0px;">
            <div class="row">
              <ng-container *ngFor="let y of years$ | async;index as i">
                <div [attr.id] ="'year'+y" class="col year" (click) = "setYear($event)">{{y}}</div>
                <div *ngIf="yearsCount%2 == 1 && i == (yearsCount-1)" class="col"></div>
                <div *ngIf="i%2==1" class="w-100"></div>
              </ng-container>
            </div>
          </div>

          <div>
            <span>Successful Launch</span>
            <hr style="margin-top: 0px;margin-bottom: 0px;">
            <div class="row">
              <div id="launchtrue" class="col year" (click) = "setLaunch('true')">True</div>
              <div id="launchfalse" class="col year" (click) = "setLaunch('false')">False</div>
            </div>
          </div>
          
          <div>
            <span>Successful Landing</span>
            <hr style="margin-top: 0px;margin-bottom: 0px;">
            <div class="row">
              <div id="landtrue" class="col year" (click) = "setLand('true')">True</div>
              <div id="landfalse" class="col year" (click) = "setLand('false')">False</div>
            </div>
          </div>

        </div>
        
      </div>
    </div><!--end of col-->

    <div id="datacolumn" class="col-sm-9 col-md-9 col-lg-10">

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let obj of data" style="margin-bottom: 5px;">
          <app-launch [launch]="obj"></app-launch>
        </div>

      </div>

    </div>

  </div><!-- end of row -->
</div><!-- end of container -->